---
title: Michael Caplan
---
<!DOCTYPE>
<html>
 
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/css/main.css"/>
  <script src="script.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/icon/favicon-16x16.png">

  <title>{{page.title}}</title>

</head>
 
  <body>
    <canvas id="background"></canvas>
    <!-- titles -->
    <div class=content_container>
    <h1>Michael Caplan</h1>
      <div class=indent_container>

        <h2>becoming-perceptible</h2>
        <!-- set up the main projects body -->
        <div class=project_list>

          <h3>works in-progress</h3>
          <ul id="projects">
          {% for project in site.data.wiprojects %}
              <li><a href={{project.url}}>{{ project.brief }}</a></li>
          {% endfor %}
        </ul>

        <h3>blog posts</h3>
          <ul>
            {% for post in site.posts limit:5 %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
            <a href="posts.html" style="font-size: large;">... See all posts</a>

          <h3>older projects</h3>
          <ul id="projects">
          {% for project in site.data.oldprojects %}
              <li><a href={{project.url}}>{{ project.brief }}</a></li>
          {% endfor %}
        </ul>


        <div class='floater'>
          <p>!!!!</p>
          <a href="https://www.google.com">search web 🔎 </a>
          <a href="books.html">reading list 📚 </a>
          <a href="ideas.html">big idea board ♠️ </a>
          <div style="margin: 10px">Disclaimer, this website is pretty much completely custom, so sometimes it may feel a bit clunky.</div>
          <a href=""></a>
        </div>

    </div>
  </body>
</html>
