---
title: splash
---
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <title>{{page.title}}</title>
  </head>
  <body>
    <!-- titles -->
    <h1>Michael Caplan</h1>
      <div class=indent_container>

        <h2>Brown University 2019, Computer Engineering (A.B) & Philosophy (A.B)</h2>
        <!-- set up the main projects body -->
        <div class=project_container style="overflow: scroll;">

          <!-- use liquid to loop through first 3 projects in projects data structure -->
          {% for project in site.data.projects %}

              {% capture name %} {{ project.brief }} {% endcapture %}
              {% capture image %} {{project.image}}{% endcapture %}
              {% capture proj_url %} {{ project.url }} {% endcapture %}
              {% include project_logo.html url=proj_url img=image caption=name %}


          {% endfor %}

        </div>

        <!-- adding the see more proj -->
        <div class=see_bar>
          <a href="/projects.html" class=see_link>
            <span class=see_text>  All Projects  </span>
            <img class=back_button src="assets/images/back_button.png"/>

          </a>

        </div>

        <!-- adding the bottom nav bar -->
        {%include nav_bar.html%}
    </div>
  </body>
</html>
