---
title: Michael Caplan
---
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <script src="script.js"></script>
    <title>{{page.title}}</title>
  </head>
  <body>
    <canvas id="background"></canvas>
    <!-- titles -->
    <div class=content_container>
    <h1>Michael Caplan</h1>
      <div class=indent_container>

        <h2>self-replicating warmachine and restless</h2>
        <!-- set up the main projects body -->
        <div class=project_list>

          <h3>(we)blog posts</h3>
          <ul>
            {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>


          <!-- use liquid to loop through all projects in projects data structure -->
          <h3>some (portfolio) projects</h3>
          <ul id="projects">
          {% for project in site.data.projects %}
              <!-- {% capture name %} {{ project.brief }} {% endcapture %}
              {% capture image %} {{project.image}}{% endcapture %}
              {% capture proj_url %} {{ project.url }} {% endcapture %}
              {% include project_logo.html url=proj_url img=image caption=name %} -->
              <li><a href={{project.url}}>{{ project.brief }}</a></li>
          {% endfor %}
        </ul>


      <div class='floater'>
        <p>links</p>
        <a href="https://www.google.com">search web 🔎</a>
        <a href=""></a>
      </div>

    </div>
  </body>
</html>
