.external_nav{
  display: flex;
  flex-flow: row;
  // margin-top: auto;
  margin-top:3vw;
  margin-bottom:3vw;
}

.nav_link{
  background-color: #F4DBDB;
  border: thin solid #B88C8C;
  border-radius: 4px;
  width: 30%;
  height: 4 vw;
  margin-left: .3%;
  margin-right: .3%;
  align-self: flex-end;



  display: flex;
  flex-flow: column;
  align-items: center;
  text-decoration: none;
  text-align: center ;
  justify-content: center;

  font-size: 2.3vw;
  // font-style: italic;
  // font-weight: bolder;
  // font-weight: 300;
  text-decoration: none;
  text-align: center;
  color: #4A4949;


}
