.project_logo{
  display:flex;
  flex-flow: column;
  text-align: center;
  font-size: 90%;
  text-indent: 0;
  border: thin rgba(#979FA5, .7) solid;
  margin: .5em;
  padding: 0;
  background: linear-gradient(to top,#CFE3F2,rgba(#CFE3F2, .0));
  width: 30vw;
  height: 30vw;
  text-decoration: none;
  border-radius: 4px;
}

.project_img{
  width: 100%;
  height: 85%;
  object-fit:cover;
  border-radius: inherit;

}

.fade{
  overflow: hidden;
}

.project_cap{
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  // background-color: #F6E7D6;
  // background: linear-gradient(to top,#A3E9A6,rgba(#A3E9A6, .25));
  color: #000;
  margin-top:1vmin;
  padding-left: .6vh;
  padding-right: .6vh;
  overflow-x: hidden;
  border-radius: inherit;
  font-size: 2.75vmin;
  // height: 3vh;

  }

.project_link{
  text-decoration: none;
}
