---
---
@import "project_splash";
@import "see_more";
@import "nav";




body{
  font-family: "Courier New", Courier, monospace;
  padding: 15px;
}

#background{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content_container{
  position: relative;
  z-index: 1;
  width: 60%
}

.project_container{
  display:flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  flex-shrink: 0;
  background-color: #9BBDDC;
  border: thin solid #B3BEC3;
  border-radius: 5px;
  padding: 4vw;
  // height: 10;
}

.indent_container{
  margin-left: 3vw;
  display: flex;
  flex-flow: column;

}

h1{
  font-size: 5vh;
  margin-block-start: 0.3em;
  margin-block-end: 0.10em;
}

h2{
  margin-block-start: 0.5em;
  margin-block-end: 0.83em;
  font-size: 3vh;
  color: #333333;
}

h3{
  font-size: 3vh;
}

li{
  font-size: 2.5vh;
}

.floater{
// padding: 3px;
border: 2px solid black;
border-radius: 3px;
text-align: center;
box-shadow: 3px 5px rgba(132, 161, 240, 0.5);

}

.floater a{
font-size: 2.25vh;
}
.floater p{
font-size: 4vh;
text-decoration: underline;

}

@media(min-width: 400px){
  .floater{
    position: fixed;
    right: 5vw;
    top: 30%;
    width: 30%;
    height: 60%;

  }
}

@media (max-width: 400px) {
  // make the floating sidebar go to top center and push the margin
  .content_container{
    width: 100%
  }

  .floater{
    position: absolute;
    width: 85%;
    height: 15%;

    left: 10;
    top: 100;
  }

  .project_list{
    margin-top: 25vh;
  }

}

@media (max-width: 300px) {
  .floater{
    top: 170;
  }

  .project_list{
    margin-top: 28vh;
  }
}